/* @W_Farmer */
.list-group-item {
    background-color: var(--Section-Color);
    color:  var(--Text-Color);
    border: none;
}

.card-body {
    background-color: var(--Section-Color);
    color:  var(--Text-Color);
}.

.card {
    color:  var(--Text-Color);
    border: 1px solid var(--Third-Color);
}

.recent-commenters {
    background-color: var(--Section-Color);
    border: 1px solid var(--Third-Color); 
    color:  var(--Text-Color); /* Ensure text is colored right */
    padding: 15px;
    border-radius: 5px; /* Rounded corners */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribute space evenly around items */
}

.recent-commenters h3 {
    width: 100%; /* Full width to align it centered over the list */
    text-align: center;
    margin-bottom: 20px; /* More space between title and items */
}

.recent-commenters ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Full width */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items at the start */
}

.recent-commenters li {
    flex: 1 1 20%; /* Adjust basis to 20% to fit 5 across on larger screens */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.recent-commenters li a {
    text-decoration: none;
    color: var(--Text-Color); /* Set text color */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 80px; /* Optimal size for mobile and desktop */
    height: 80px;
    border-radius: 50%;
    border: 3px solid var(--Third-Color);
}

.name {
    font-size: 1.2rem; /* Adjust font size for readability */
    font-weight: bold;
    margin-top: 5px; /* Space between picture and name */
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid var(--Third-Color);
    display: block; /* This centers the img in the li */
    margin: auto; /* This also helps in centering the img in the li */
}
.page-item {
    display: flex;
    justify-content: space-between; /* Keep items on the sides */
    align-items: center; /* Align items vertically in the center */
    padding: 10px 15px;
    background-color: var(--Section-Color);
    border-bottom: 1px solid var(--Third-Color);
    color: white;
}

.page-item:last-child {
    border-bottom: none; /* No border at the bottom of the last item */
}

.page-link {
    color: var(--Text-Color);
    text-decoration: none; /* Remove underline from links */
    font-weight: bold;
}

.page-link:hover {
    text-decoration: underline; /* Only underline on hover */
    color: var(--Text-Hover-Color);
}

.page-description {
    font-size: 0.95rem;
    color: var(--Text-Color); /* Lighter text color for description */
}

.page-title {
    display: flex;
}

.page-title {
    flex-grow: 1; /* Ensures the title and description take up the remaining space */
    margin-right: 20px; /* Adds some spacing between the title/description and the latest comment link */
}

.comment-link {
    white-space: nowrap; /* Ensures the link doesn't break into multiple lines */
    text-align: right;
}

.page-item {
    display: flex;
    justify-content: space-between; /* This already ensures the content on both sides are pushed to the edge */
    align-items: center;
}
/* sppecefic styles for smaller devices */
@media (max-width: 768px) {
    .page-item {
        flex-direction: column;
        align-items: flex-start; /* Align items to the start on small screens */
    }

    .page-title, .comment-link {
        width: 100%; /* Full width to prevent overflow */
        text-align: left; /* Align text to the left */
        margin-bottom: 5px; /* Add some space between the title and the comment link */
    }

    .comment-link {
        order: 3; /* Make the comment link appear last */
        text-align: left; /* Align the text to the left */
        white-space: normal; /* Allow wrapping */
    }

    .page-description {
        font-size: 0.85rem; /* Smaller font size on mobile devices */
    }
    .recent-commenters li {
        flex: 1 1 33%; /* 3 items per row on tablet screens */
        
    }

    .recent-commenters li a {
        flex-direction: column; 
    }

    .profile-picture {
        width: 60px; /* Smaller profile pictures on mobile */
        height: 60px;
    }

    .name {
        font-size: 1rem; /* Smaller font size for names */
        display: block;
    }

}
/* sppecefic styles for even smaller devices */
@media (max-width: 480px) {
    .recent-commenters li {
        flex: 1 1 50%; /* 2 items per row on mobile screens */
    }

    .profile-picture {
        width: 60px; /* Smaller pictures on mobile */
        height: 60px;
    }

    .name {
        font-size: 1rem; /* Smaller font size for mobile */
    }
}



