/* @W_Farmer */
.list-group-item {
    background-color: var(--Section-Color);
    color:  var(--Text-Color);
    border: none;
}
/* make the notification links white */
.list-group-item a {
    color:  var(--Text-Color);
}