{% extends 'base.html' %}
{% load static %} 

<!-- Bilge: HTML for the visual page view with a display of notes -->

{% block content %}
    <style>
        visual {
            display: flex;
        }
        .sidebar {
            flex: 0.5;
            color: #333;
            width: 80px;
            padding: 20px 0;
        }
        .sidebar a {
            display: block;
            text-align: left;
            margin-bottom: 20px;
            color: #333;
            text-decoration: none;
        }
        .note {
            flex: 2.5;
            display: -webkit-box;
            display: -webkit-flex;
            color: #fff;
            width: 80px;
            padding: 20px 0;
            -webkit-flex-direction: row;
            flex-direction: row;
            flex-direction: column;
            height: 100%;
        }
        .note-pad {
            -webkit-flex-direction: column;
            -webkit-flex-direction: column;
            border: 1px solid transparent;
            display: -webkit-box;
            text-align: center;
            -webkit-box-sizing:border-box;
            color: #333;
            -webkit-border-radius: 8px;
            border: 2px solid #333;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            min-height: 245px;
            position: relative;
            -webkit-align-items: center;
        }
        .note-form input[type="text"] {
            flex: 1;
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        .note-form button {
            padding: 10px 20px;
            background-color: #003087;
            border: none;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

    </style>
    <visual>
        <div class="sidebar">
            <a href=""><img src="{% static 'icons/camera-visual.png' %}" alt="Visual Notes"></a>
            <a href=""><img src="{% static 'icons/camera-visual.png' %}" alt="Labels"></a>
        </div>
        <div class="note">
            <!-- To add Note to Visual Database -->
            <form class="note-form" method="POST" action="">
                {% csrf_token %} <!-- CSRF verification, security satisfaction -->
                <input type="text" name="content" placeholder="Note a Visual Idea">
                <button type="note-button" name="visualNoteSubmit" >Note</button>
            </form>
            <div class="note-pad">
                <h> hello welcome to visual </h>
            </div>
        </div>
    </visual>

{% endblock %}