.card-custom {
    max-height: 200px; /* Adjust the max height as needed */
    overflow: hidden;
}

/* Custom CSS for setting width and height on medium screens */
@media (min-width: 768px){
    .card-custom {
        width: 100%; /* Set the desired width */
        height: 200px; /* Set the desired height */
        overflow: hidden;
    }

    .btn-size {
        width: 100%;
    }

    #create-new-board {
        position: fixed;
        width: 150px;
        right: 20px;
        bottom: 30px;
        height: 75px;
        z-index: 999;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}
@media (max-width: 768px){
    .card-custom {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .btn-size {
        width: 100%;
    }

    #create-new-board {
        width: 100%;
        height: 200px;
        overflow: hidden;
        margin: 16px 16px;
        font-weight: bold;
        font-size: 1.5em;
    }

}

.card-body {
    height: 100%;
    overflow: hidden;
}

.card-title, .card-description {
    margin: 0;
    overflow: hidden;
}

.break-text {
    word-wrap: break-word; /* Allow long words to be broken and wrap onto the next line */
}

.modal-content {
    background-color: #0F1035; /* Change this to your desired background color */
    border-color: #333; /* Change this to your desired border color */
}

.modal-header{
    border-bottom: 1px solid #365486; /* Change this to your desired border color */
}

.modal-footer {
    border-top: 1px solid #365486; /* Change this to your desired border color */
}

.close {
    color: #fff;
}

.close:hover {
    color: #fff; /* Change this to your desired hover color */
}

hr {
    border-top: 1px solid #365486;
}

.card {
    border-color: #365486;
}

.custom-select {
    width: 50;
}