{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}
<!-- Source: https://getbootstrap.com/docs/5.3/components/modal/ -->
<!-- Modal -->
<div class="modal fade" id="createBoardItem" tabindex="-1" role="dialog" aria-labelledby="CreateItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="CreateItemModalLabel">Create New Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Create</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


    <div>
        <h1>{{ board.name }}</h1>
        <p>{{ board.description }}</p>
    </div>

    <div>
        {% if items %}
            {% for item in items %}
                <div>
                    <h2>{{ item.name }}</h2>
                    <p>{{ item.description }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No items found</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createBoardItem">
                Add New Item
              </button>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'IdeaBoards/boarddetails.js' %}"></script>
{% endblock %}