{% extends 'base.html' %}

{% block title %}Boards - MedaBook{% endblock %}

{% block content %}
    <h1>Meda Book Idea Board works</h1>
    <div class="row">
        {% if boards %}
            {% for board in boards %}
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ board.title }}</h2>
                        <p class="card-text">{{ board.description }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p><a href="createboard/">Create a board</a></p>
        {% endif %}
    </div>

{% endblock %}