<!-- @W_Farmer -->
{% extends 'base.html' %}
{% block stylesheets %}

<!-- Add the custom css file -->
{% load static%}
<link rel="stylesheet" href="{% static 'css/forum_home.css' %}">
{% endblock %}

{% block title %}Forum Home
{% endblock %}

{% block content %}
<!-- @W_Farmer -->

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h3> Pages</h3>
            <!-- @W_Farmer -->

            <div class="list-group custom-border-wes">
                <!-- Loop through every existing page -->
                {% for page in pages %}
                <div class="page-item">
                    <!-- Link to the page -->
                    <div class="page-title">
                        <a href="{% url 'thread_list' page.id %}" class="page-link">{{ page.title }}</a>
                        <p class="page-description">{{ page.description|truncatechars:150 }}</p>
                    </div>
                    <!-- List and link to the latest comment -->
                    <div class="comment-link">
                        {% with latest_comment=page.get_latest_comment %}
                        {% if latest_comment %}
                            <a href="{% url 'thread_detail_comment' latest_comment.thread.id latest_comment.id %}">
                                Last comment by <strong>{{ latest_comment.user.username }}</strong> on <strong>{{ latest_comment.created_at|date:"M d, Y H:i" }}</strong>
                            </a>
                        {% else %}
                            <small>No comments yet.</small>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row mt-4">

        
        <div class="col-md-8">
            <!-- @W_Farmer -->

            <h3>Latest Threads</h3>
            <ul class="list-group custom-border-wes">
                <!-- Loop through every thread in the latest threads input -->
                {% for thread in latest_threads %}
                <li class="list-group-item custom-border-wes">
                    <a href="{% url 'thread_detail' thread.id %}">{{ thread.title }}</a>
                    <small class="float-right">
                        <!-- Display the most recent comments for the thread-->
                        {% if thread.latest_comment_username != "No comments" %}
                            {{ thread.latest_comment_username }} - updated {{ thread.latest_comment_time|timesince }} ago
                        {% else %}
                            No comments
                        {% endif %}
                    </small>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <!-- List of the top threads -->
            <!-- @W_Farmer -->
            <h3>Top Threads</h3>
            <ul class="list-group custom-border-wes">
                {% for thread in top_threads %}
                <li class="list-group-item custom-border-wes">
                    <a href="{% url 'thread_detail' thread.id %}">{{ thread.title }}</a>
                    <span class="badge badge-primary badge-pill float-right">{{ thread.comment.count }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- Line, used this source  https://www.w3schools.com/tags/tag_hr.asp-->

    <hr style="height:2px;border-width:0;background-color:var(--Third-Color)">
    <!-- Recent Commenters -->
    <h3>Recent Commenters</h3>

    <div class="recent-commenters">
        <ul>
            {% for profile in recent_commenter_profiles %}
            <li>
                <a href="{% url 'ProfileApp:public_profile' profile.user.username %}">
                    <!-- Small profile picture by their username -->
                    <img src="{{ profile.profile_picture.url }}" alt="{{ profile.user.username }}" class="profile-picture">
                    <!-- Username div, should be right under the image -->
                    <div class="name">
                        {{ profile.user.username }}
                    </div>
                </a>
            </li>

            {% empty %}
            <li>No recent comments</li>
            {% endfor %}
        </ul>
    </div>
    
</div>
{% endblock %}
