<!-- forum/templates/forum/thread_list.html -->
{% extends 'base.html' %}

{% block extra_css %}
.list-group-item {
  background-color: #211951;
  color: white;
}

{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Threads in {{ page.title }}</h2>
    </div>
    {% if user.is_authenticated %}
    <div class="col-md-4 text-right mb-4">
      <a href="{% url 'create_thread' page.id %}" class="btn btn-primary">Add a new thread</a>
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group custom-border-wes">
        {% for thread in threads %}
        <li class="list-group-item d-flex justify-content-between align-items-center custom-border-wes">
          <a href="{% url 'thread_detail' thread.id %}">{{ thread.title }}</a>
          <small class="text-muted">
            {% if thread.latest_comment_username != "No comments" %}
              {{ thread.latest_comment_username }} - updated {{ thread.latest_comment_time|timesince }} ago
            {% else %}
              No comments
            {% endif %}
          </small>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  
  <!-- Pagination links -->
  <div class="text-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if threads.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{% url 'thread_list' page.id %}?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'thread_list' page.id %}?page={{ threads.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {% for num in threads.paginator.page_range %}
        {% if num >= threads.number|add:'-3' and num <= threads.number|add:'3' %}
        <li class="page-item {% if num == threads.number %}active{% endif %}">
          <a class="page-link" href="{% url 'thread_list' page.id %}?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if threads.has_next %}
        <li class="page-item">
          <a class="page-link" href="{% url 'thread_list' page.id %}?page={{ threads.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'thread_list' page.id %}?page={{ threads.paginator.num_pages }}" aria-label="Last">
            <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>

</div>
{% endblock %}
