{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <!-- Comments Section -->
      <h3>{{thread.title}}:</h3>
      {% for comment in comments %}
      <div class="card mb-2">
        <div class="card-body">
          <!-- Placeholder for Profile Picture -->
          <img src="pic.jpg" alt="Profile Picture" class="profile-picture">
          <div class="comment-info">
            <strong>{{ comment.user.username }}</strong>
            <span class="text-muted"> commented on {{ comment.created_at }}</span>
            {% if comment.last_edited %}
              <span class="text-muted"> last edited on {{ comment.last_edited }} </span>
            {% endif %}
          </div>
          <p class="card-text">{{ comment.content }}</p>
          <!-- If the user of the comment, matches the user that is logged in we can allow them to delete OR edit a comment, OR the user is a superuser-->
          {% if comment.user == user or user.is_superuser %}
            <a href="{% url 'edit_comment' comment.id %}" class="btn btn-sm btn-primary">Edit</a>
            <a href="{% url 'delete_comment' comment.id %}" class="btn btn-sm btn-danger">Delete</a>
          {% endif %}

        </div>
      </div>
      {% endfor %}
      <!-- Form to add new comment -->
      <form method="post" action="{% url 'create_comment' thread.id %}" class="mt-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add comment</button>
      </form>

    </div>
    <div class="col-md-4">
      <!-- User Profile -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User Profile</h5>
          <!-- Placeholder for Profile Information -->
          <p class="card-text">Username: {{ user.username }}</p>
          <!-- Additional user information here -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
