/* Custom CSS for setting width and height on medium screens */
@media (min-width: 768px){
    .card-custom {
        width: 300px; /* Set the desired width */
        height: 200px; /* Set the desired height */
    }
}

.card-custom {
    max-height: 200px; /* Adjust the max height as needed */
    overflow: hidden;
}

.card-body {
    height: 100%;
    overflow: hidden;
}

.card-title, .card-description {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}