/* Color variables to be used throughout the site*/
:root {
    --Background-Color: #0F1035;
    --Text-Color: #fff;
    --Section-Color: #211951;
    --Third-Color: #365486;
    --Border-Color: #333;
    --Text-Hover-Color: #c0c0f0;
    --Username-Color: #f1c40f;
    --Subdued-Text-Color: #bdc3c7;
    --Forum-Reply-Color: #34495e;
    --Forum-Reply-Header-Color: #95a5a6;

    
}



/* Notification badges */
.notification-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block; /* Initially hidden if no notifications */
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    display: none; /* Hidden by default, shown only if there are notifications */
    padding: 3px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 12px;
}


/* colors for the whole site */
body {
    background-color: var(--Background-Color);
    color: var(--Text-Color);
}

/* navbar */
.navbar {
    background-color: var(--Section-Color) !important;
}

.custom-border-wes {
    border: 1px solid var(--Third-Color);
}

/* remove the arrow on the notificaiton icon */
.dropdown-toggle::after {
    display: none;
}

/* pagination styles mostly made by GPT */
.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
  }
  
  .page-link {
    color: #ecf0f1; 
    background-color: var(--Section-Color);
    border: 1px solid var(--Third-Color); 

  }
  
  .page-link:hover, .page-item.active .page-link {
    color: #ecf0f1;
    background-color: #4e6d8c; /* Lighter blue for hover/active states */
    border-color: #3b5998; /* A different blue for border */
  }
  
  .page-item.active .page-link {
    font-weight: bold; /* Make the active page number bold */
    z-index: 1;
  }

  .btn {
    background-color: var(--Section-Color);
    color: #fff;
    border: 1px solid var(--Third-Color);
  }

  .card-body {
    background-color: var(--Section-Color);
    color: white;
}