{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/boarddetails.css' %}">
{% endblock %}


{% block content %}
    <!-- Source: https://getbootstrap.com/docs/5.3/components/modal/ -->

    <!-- Board Settings Modal -->
    <div class="modal fade" id="boardSettings" tabindex="-1" role="dialog" aria-labelledby="BoardSettingsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="form">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="BoardSettingsModalLabel">Board Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body row justify-content-center">
                    <button type="button" class="btn btn-success col-10 m-2" data-dismiss="modal" data-toggle="modal" data-target="#editBoard">Edit Board Details</button>
                    <button type="button" class="btn btn-danger col-10 m-2" data-dismiss="modal" data-toggle="modal" data-target="#deleteBoard">Delete Board</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Edit Board Modal -->
    <div class="modal fade" id="editBoard" tabindex="-1" role="dialog" aria-labelledby="EditBoardModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="form">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="EditBoardModalLabel">Edit Board</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <h5>New Board Title<p class="text-danger" style="display: inline; margin: 0;">*</p></h5>
                    <input type="text" id="editBoardTitleInput" data-id='none' class="form-control" placeholder="{{ board.title }}">
                    <h5 class="mt-2">New Board Description</h5>
                    <input type="text" id="editBoardDescriptionInput" class="form-control" placeholder="{{ board.description }}">
                    <p><p class="text-danger" style="display: inline; margin: 0;">*</p> required field</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id='edit-board-button' type="submit" class="btn btn-success">Confirm Changes</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Delete Board Modal -->
    <div class="modal fade" id="deleteBoard" tabindex="-1" role="dialog" aria-labelledby="DeleteBoardModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="form">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="DeleteBoardModalLabel">Delete Board?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <h5>Are you sure you want to delete the board:</h5>
                    <h3 class="my-2"><strong>{{ board.title }}</strong></h3>
                    <h5>This action cannot be undone.</h5>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="delete-board-button" type="button" class="btn btn-danger" data-id="{{ board.id }}">Confirm Deletion</button>
                </div>

            </div>
        </div>
    </div>

    <!-- New Item Modal -->
    <div class="modal fade" id="createBoardItem" tabindex="-1" role="dialog" aria-labelledby="CreateItemModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="addItemForm">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="CreateItemModalLabel">Create New Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Title<p class="text-danger" style="display: inline; margin: 0;">*</p> (max 64 characters)</label>
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="description">Description<p class="text-danger" style="display: inline; margin: 0;">*</p></label>
                            <input type="text" class="form-control" id="description" name="description">
                        </div>
                        <div class="form-group">
                            <label for="board_image">Add Image<p style="display: inline; margin: 0;"></p></label>
                            <input type="file" class="form-control" id="board_image" name="board_image">
                        </div>
                        <div class="form-group">
                            <label for="board_sound">Add Sound File<p style="display: inline; margin: 0;"></p></label>
                            <input type="file" class="form-control" id="board_sound" name="board_image" accept="image/*">
                        </div>

                        <p><p class="text-danger" style="display: inline; margin: 0;">*</p> required field</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary text-success">Add Item</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- View Item Modal -->
    <div class="modal fade" id="viewBoardItem" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body break-text">
                    <h1 id="view-item-title" data-id='none' data-index="none"></h1>
                    <p id="view-item-description"></p>
                    <image id="view-item-image" src="" display="block"></image>
                    <audio controls src="" display="block"></audio>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="edit-item-modal-button" class="btn btn-success">Edit</button>
                    <button type="button" id="delete-item-modal-button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Item Modal -->
    <div class="modal fade" id="editBoardItem" tabindex="-1" role="dialog" aria-labelledby="EditItemModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EditItemModalLabel">Edit Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <h5>New Item Title<p class="text-danger" style="display: inline; margin: 0;">*</p></h5>
                    <input type="text" id="editItemTitleInput" data-id='none' data-index="none" class="form-control" placeholder="New Item Title">
                    <h5>New Item Description</h5>
                    <input type="text" id="editItemDescriptionInput" class="form-control" placeholder="New Item Description">
                    <p><p class="text-danger" style="display: inline; margin: 0;">*</p> required field</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary text-danger" data-dismiss="modal">Cancel</button>
                    <button id="edit-item-button" type="button" class="btn btn-primary text-success">Confirm Change</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Item Modal -->
    <div class="modal fade" id="deleteItem" tabindex="-1" role="dialog" labelledby="DeleteItemModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="form">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="DeleteItemModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <h2 id="deleteModalWarning">
                        Are you sure you want to delete this item?
                    </h2>
                    <h2>This action cannot be undone.</h2>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id='delete-item-button' type="submit" class="btn btn-primary btn-danger">Delete Item</button>
                </div>
            </div>

            
        </div>
    </div>

    <!-- Error Modal -->
    <div class="modal fade" id="errorModel" tabindex="-1" labelledby="error-modal-label" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="error-modal-label">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1 id="error-modal-text" class="text-wrap text-danger"></h1>
                </div>
            </div>
        </div>
    </div>

     <!-- Create Label Modal -->
     <div class="modal fade" id="createLabel" tabindex="-1" role="dialog" aria-labelledby="CreateLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="createLabel">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="CreateItemModalLabel">Create New Label</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="new-label-name">Label Name<p class="text-danger" style="display: inline; margin: 0;">*</p></label>
                            <input type="text" class="form-control" id="new-label-name" name="new-label-name">
                        </div>

                        <p><p class="text-danger" style="display: inline; margin: 0;">*</p> required field</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary text-success">Add Label</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

     <!-- Project Board -->
    <div class="row text-start">
        <div class="col-md-10 row">
            <h3 class="col-12" id="board-title">Project Board: {{ board.title }}</h3>
            {% if board.description %}
                <h4 class="col-12" id="board-description">Description: {{ board.description }}</h4>
            {% else %}
                <h4 class="col-12 d-none" id="board-description">Description: none</h4>
            {% endif %}
            <h4 class="col-12">Created by: {{ board.user }}</h4>
        </div>
        <div class="col-md-2 row justify-content-end">
            <button type="button" class="btn btn-primary my-1 col-md-12" data-toggle="modal" data-target="#boardSettings">
                Board Settings
            </button>
            <button type="button" class="btn btn-primary my-1 col-md-12" data-toggle="modal" data-target="#createBoardItem">
                New Note
            </button>
            <button type="button" id="save-board-button" class="btn btn-primary my-1 col-md-12" >
                Save Board
            </button>
        </div>
    </div>

    <hr>
     <!-- Create Label and Display Labels -->
    <div class="row">
        <button type="button" class="btn btn-primary my-1 col-md-1.5" id="create-label" data-toggle="modal" data-target="#createLabel" data-id="{{ board.id }}">Create Label</button>
        {% for label in labels %}
            <button type="button" class="btn btn-primary my-1 col-md-1.5" id="sort-label" data-toggle="modal" data-target="#sortLabel" data-id="{{ board.id }}">{{label.label_name}}</button>
        {% endfor %}
    </div>

    <hr>

    <div class='row'>
        <div id='boardItems' class='col-12 row px-0 mx-0'>
            {% if items %}
                {% for item in items %}
                    <div id="board-item-container-{{ forloop.counter }}" data-label="{{ item.board_label.label_name }}" class="col-md-4 px-3 py-3 text-center">
                        <button id="board-item-{{ forloop.counter }}" class="btn btn-outline-primary btn-size">
                            <div class="card card-custom"> 
                                <div class="card-body">
                                    <h2 id="board-item-{{ forloop.counter }}-title" 
                                        data-id="{{ item.id }}" 
                                        {% if item.board_image %}
                                        data-img-src="{{ item.board_image.url }}" 
                                        {% endif %}
                                        {% if item.board_sound %}
                                        data-sound-src="{{ item.board_sound.url }}"
                                        {% endif %}
                                        class='card-title pb-2'>{{ item.title }}</h2>
                                    <p id="board-item-{{ forloop.counter }}-description" class='card-description pb-2'>{{ item.description }}</p>
                                    {% if item.board_image %}
                                        <p>img</p>
                                    {% endif %}
                                    {% if item.board_sound %}
                                        <p>sound</p>
                                    {% endif %}
                                </div>
                            </div>
                        </button>
                    </div>            
                {% endfor %}
            {% else %}
                <div class='card mx-auto' id='no-items-found'>
                    <div class='card-body'>
                        <h1 class='card-text text-center'>You don't have any notes yet.</h1>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}

{% block scripts %}
    <script src="{% static 'IdeaBoards/boarddetails.js' %}"></script>
{% endblock %}