{% extends 'base.html' %}

{% load static %}

{% block title %}Boards - MediaBook{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/ideaboard.css' %}">
{% endblock %}

<!-- Including Jquery in HTML -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


{% block content %}
    <!-- Source: https: //getbootstrap.com/docs/5.3/components/modal/ -->
    <!-- Spotify API Song Reccommendation Request -->
    <div class="modal fade" id="getRecc" tabindex="-1" role="dialog" aria-labelledby="spotifyAPI" aria-hidden="true">
        <div class="modal-dialog" role="form">
            <form method="POST" name="getRecc">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" >Get A Song Recommendation by Genre</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %} <!-- CSRF verification, security satisfaction -->
                        <input type="text" class="form-control" id="genreNameInput" placeholder="Genre Name" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id='get-rec-button' type="submit" class="btn btn-primary">Get Reccommendation</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="displayReccResults" tabindex="-1" role="dialog" aria-labelledby="spotifyAPI" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reccTitle"> 5 Recommendations </h5>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title" id="reccResult"></h5>
                </div>
                <div>
                    <iframe id="iframe" style="border-radius:12px" src="https://open.spotify.com/oembed?url=2ixsaeFioXJmMgkkbd4uj1" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Make Board Modal -->
    <div class="modal fade" id="createBoard" tabindex="-1" role="dialog" aria-labelledby="CreateBoardModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="form">
            <div class="modal-content">
                <form id='createBoard' method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CreateBoardModalLabel">Create New Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form.as_p }}
                        {% csrf_token %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id='createBoardButton' type="submit" class="btn btn-primary">Create Board</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Error Message Modal -->
    <div class="modal fade" id="errorMessage" tabindex="-1" role="dialog" aria-labelledby="ErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="ErrorModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if error_message %}
                        {% for error in error_message %}
                            <h4 class='text-danger'>{{ error }}</h4>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id='createBoardButton' type="submit" class="btn btn-primary">Create Board</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Boards -->
    <div>
        <div class="row justify-content-between">
            <h1 class="col-md-4 page-title">Your IdeaBoards</h1>
            <div class="col-md-3 row pr-4 justify-content-end mode-radio">
                <button  type="button" class="btn btn-primary col-12" id="create-new-board" data-toggle="modal" data-target="#createBoard">
                    Create New Project Board
                </button>

                <button  type="button" class="btn btn-primary col-12" id="get-rec-modal-button" data-toggle="modal" data-target="#getRecc">
                    Spotify Recc
                </button>
            </div>
        </div>

        <hr>

        <div class="row">
            {% if boards %}
                {% for board in boards %}
                    <div class="col-md-4 px-3 py-3">
                        <button id="board-{{ forloop.counter }}"  data-url="{{ board.id }}" role='button' class="btn btn-outline-primary btn-size">
                            <div class="card card-custom">
                                <div class="card-body">
                                    <h2 id="board-{{ forloop.counter }}-title" class='card-title'>{{ board.title }}</h2>
                                    <p id="board-{{ forloop.counter }}-description" class='card-description pb-2'>{{ board.description }}</p>
                                </div>
                            </div>
                        </button>
                    </div>        
                {% endfor %}
            {% else %}
                <div class='card mx-auto'>
                    <div class='card-body'>
                        <h1 class='card-text text-center'>You don't have any boards yet.</h1>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'IdeaBoards/ideaboards.js' %}"></script>

    {% if error_message %}
        <script>
            $(document).ready(function() {
                $('#errorMessage').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}