{% extends 'base.html' %}

{% load static %}

{% block title %}Boards - MedaBook{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/ideaboard.css' %}">
{% endblock %}

{% block content %}
    <!-- Source: https: //getbootstrap.com/docs/5.3/components/modal/ -->
    <!-- Modal -->
    <div class="modal fade" id="createBoard" tabindex="-1" role="dialog" aria-labelledby="CreateItemModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="form">
            <div class="modal-content">
                <form id='createBoard' method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CreateItemModalLabel">Create New Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id='createBoard' method="POST">
                            {{ form.as_p }}
                            {% csrf_token %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id='createBoardButton' type="submit" class="btn btn-primary">Create Board</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <h1>Your IdeaBoards</h1>
    <div class="row">
        {% if boards %}
            {% for board in boards %}
                <div class="col-md-4 px-3 py-3">
                    <a id="board-{{ forloop.counter }}"  href='{{ board.id }}/' role='button' class="btn btn-outline-primary">
                        <div class="card card-custom">
                            <div class="card-body">
                                <h2 id="board-{{ forloop.counter }}-title" class='card-title'>{{ board.title }}</h2>
                                <p id="board-{{ forloop.counter }}-description" class='card-description pb-2'>{{ board.description }}</p>
                            </div>
                        </div>
                    </a>
                </div>        
            {% endfor %}
        {% else %}
            <div class='card'>
                <div class='card-body'>
                    <p class='card-text'>You don't have any boards yet.</p>
                </div>
            </div>
        {% endif %}
        <button  type="button" class="btn btn-primary" id="create-new-board" data-toggle="modal" data-target="#createBoard">
            Create New Project Board
        </button>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'IdeaBoards/ideaboards.js' %}"></script>
{% endblock %}