{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/boarddetails.css' %}">
{% endblock %}

{% block content %}
    <!-- Source: https://getbootstrap.com/docs/5.3/components/modal/ -->

    <!-- View Item Modal -->
    <div class="modal fade" id="viewBoardItem" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <p class="mt-1 col-md-2" id="view-item-label" data-id='none' data-index="none" style="justify-content:left"></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Item content displayed here -->
                <div class="modal-body break-text row">
                    <h1 class="col-12" id="view-item-title" data-id='none' data-index="none"></h1>
                    <p class="col-12" id="view-item-description"></p>
                    <image class="mt-3 col-12" id="view-item-image" src=""></image>
                    <audio class="mt-3 col-12" id="view-item-sound" controls src="" ></audio>
                </div>

            </div>
        </div>
    </div>

    <!-- Error Modal -->
    <div class="modal fade" id="errorModel" tabindex="-1" labelledby="error-modal-label" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="error-modal-label">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <h1 id="error-modal-text" class="text-wrap text-danger"></h1>
                </div>

            </div>
        </div>
    </div>

    <!-- Board Details -->
    <div class="row text-center justify-content-center">
        <h3 class="col-12" id="board-title">Project Board: {{ board.title }}</h3>
        {% if board.description %}
            <h4 class="col-12" id="board-description">Description: {{ board.description }}</h4>
        {% else %}
            <h4 class="col-12 d-none" id="board-description">Description: none</h4>
        {% endif %}
        <h4 class="col-12">Created by: {{ board.user }}</h4>
    </div>

    <hr>

    <!-- Label Row -->
    <div class="row col-12" id="labelRow">
        <button type="button" class="btn btn-primary my-1 col-md-1.5" id="show-all-items" data-board-id="{{board.id}}">All Notes</button>

        {% for label in labels %}
            <button type="button" class="btn btn-primary my-1 ml-1" id="sort-label-{{ forloop.counter }}" data-label="{{ label.label_name }}">{{label.label_name}}</button>
        {% endfor %}

    </div>

    <hr>

    <!-- Board Items -->
    <div class='row'>
        <div id='boardItems' class='col-12 row px-0 mx-0'>
            {% if items %}
                {% for item in items %}
                <div id="board-item-container-{{ forloop.counter }}" class="col-md-4 px-3 py-3 text-center">
                    <button id="board-item-{{ forloop.counter }}" class="btn btn-outline-primary btn-size">
                        <div class="card card-custom"> 
                            <div class="card-body">

                                <!-- Move the row with images to the bottom of the card -->
                                <div class="row justify-content-end mt-auto">
                                    {% if item.item_image %}
                                        <img class="col-3 img-icon px-1 {% if not item.item_sound %}mr-3{% endif %}" src="{% static "images/imageiconwhite.png" %}" alt="img icon"></img>
                                    {% endif %}
                
                                    {% if item.item_sound %}
                                        <!-- HTML for the custom icon -->
                                        <img src="{% static "images/audioiconwhite.png" %}" class="audio-icon mr-3 px-1" alt="audio icon">
                                    {% endif %}

                                </div>

                                <!-- h2 start -->
                                <!-- contains item model id, image/sound src if model contains one. -->
                                <h2 id="board-item-{{ forloop.counter }}-title" 
                                    data-id="{{ item.id }}" 
                                    {% if item.item_image %}
                                        data-img-src="{{ item.item_image.url }}" 
                                    {% endif %}
                                    
                                    {% if item.item_sound %}
                                        data-sound-src="{{ item.item_sound.url }}"
                                    {% endif %}

                                    {% if item.note_label %}
                                        data-label="{{ item.note_label }}"
                                    {% endif %}
                
                                    class='card-title pb-2'> 
                                    {{ item.title }}
                                </h2>
                                <!--h2 End-->
                
                                <p id="board-item-{{ forloop.counter }}-description" class='card-description pb-2'>{{ item.description }}</p>
                                
                            </div>
                        </div>
                    </button>
                </div>                            
                {% endfor %}
            {% else %}
                <!-- No items found -->
                <div class='card mx-auto' id='no-items-found'>
                    <div class='card-body'>
                        <h1 class='card-text text-center'>This board has no notes yet.</h1>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}

{% block scripts %}
    <script src="{% static 'IdeaBoards/publicboarddetails.js' %}"></script>
{% endblock %}