{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/boarddetails.css' %}">
<link rel="stylesheet" href="{% static 'css/publicboarddetails.css' %}">
{% endblock %}

{% block content %}
    <!-- Source: https://getbootstrap.com/docs/5.3/components/modal/ -->

    <!-- View Item Modal -->
    <div class="modal fade" id="viewBoardItem" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <p class="mt-1 col-md-2" id="view-item-label" data-id='none' data-index="none" style="justify-content:left"></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Item content displayed here -->
                <div class="modal-body break-text row">
                    <h1 class="col-12" id="view-item-title" data-id='none' data-index="none"></h1>
                    <p class="col-12" id="view-item-description"></p>
                    <div class="col-12 row">
                        <image class="mt-3 col-auto" id="view-item-image" src=""></image>
                    </div>
                    <audio class="mt-3 col-12" id="view-item-sound" controls src="" ></audio>
                </div>

            </div>
        </div>
    </div>

    <!-- Error Modal -->
    <div class="modal fade" id="errorModel" tabindex="-1" labelledby="error-modal-label" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="error-modal-label">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <h1 id="error-modal-text" class="text-wrap text-danger"></h1>
                </div>

            </div>
        </div>
    </div>

    <!-- Board Details -->
    <div class="row text-center justify-content-center">
        <h3 class="col-12" id="board-title">Project Board: {{ board.title }}</h3>
        {% if board.description %}
            <h4 class="col-12" id="board-description">Description: {{ board.description }}</h4>
        {% else %}
            <h4 class="col-12 d-none" id="board-description">Description: none</h4>
        {% endif %}
        <h4 class="col-12">Created by: {{ board.user }}</h4>
    </div>

    <hr>

    <div class="row justify-content-center" name="board_comments">
        <!-- If the user is authenticated allow them to make a new comment-->
        {% if user.is_authenticated %}
            <div class="comment-form-wrapper">
                <h5>Leave a Comment</h5>
                <form method="post" action="{% url 'create_board_comment' board.id %}">
                {% csrf_token %}
                <textarea name="content" class="comment-form-textarea" placeholder="Write your comment here..."></textarea>
                <button type="submit" class="btn">Post Comment</button>
                </form>
            </div>
        {% else %}
            <p class="mt-4">Please <a href="{% url 'login' %}">log in</a> to post a comment.</p>
        {% endif %}

        {% for comment in board_comments %}
        <div class="comment-wrapper">
            <div class="comment-header">
              <!-- Profile Picture -->
              {% if comment.user.profile.profile_picture %}
                <a href="{% url 'ProfileApp:public_profile' comment.user.username %}">
                  <img src="{{ comment.user.profile.profile_picture.url }}" alt="{{ comment.user.username }}'s profile picture" class="profile-picture">
                </a>
              {% else %}
              {% load static %}
                <a href="{% url 'ProfileApp:public_profile' comment.user.username %}">
                  <img src="{% static 'default-profile-picture.png' %}" alt="Default profile picture" class="profile-picture">
                </a>
              {% endif %}
              <!-- Comment Details -->
              <div class="comment-details">
                <a href="{% url 'ProfileApp:public_profile' comment.user.username %}">
                  <span class="comment-author">{{ comment.user.username }}</span>
                </a>
                <!-- Comment MetaData-->
                <div class="comment-metadata">
                  <span>{{ comment.created_at|date:"M d, Y H:i" }}</span> 
                </div>
              </div>
            </div>
            <!-- Comment Body -->
            <div class="comment-body">
                <!-- If it's a reply to another comment, show a short part of the origional comment -->
                {% if comment.parent %}
                <div class="reply-section">
                <div class="reply-wrapper">
                    <div class="reply-header">
                    <span class="text-muted">{{comment.parent.user }} wrote on {{ comment.parent.created_at|date:"F j, Y, g:i a" }}</span>
                    </div>
                    <!-- Reply Content -->
                    <div class="comment-content">
                    "{{ comment.parent.content|truncatewords:20 }}"
                    </div>
                </div>
                </div>
                {% endif %}
    
                <!-- Print the comment, and allow for the iframes to apply -->
                {% autoescape off %}
                <pre>{{ comment.content }}</pre>
                {% endautoescape %}
    
                <!-- Comment Actions -->
                <div class="comment-actions">
                <!-- Making it a little compleicated to fix the styling issues, but the likes text should be aligned to the left, and if logged in there should be a button for liking-->
                {% if user.is_authenticated %}
                {% if user.is_authenticated and comment.user != user %}
                    {% if user in comment.likes.all %}
                    <span class="text-muted likes">Likes: {{ comment.likes.count }}</span>
                    <a href="{% url 'like_comment' comment.id %}" class="comment-action-btn likes-btn">Unlike</a>
                    {% else %}
                    <span class="text-muted likes">Likes: {{ comment.likes.count }}</span>
                    <a href="{% url 'like_comment' comment.id %}" class="comment-action-btn likes-btn">Like</a>
                    {% endif %}
                {% else %}
                    <span class="text-muted likes likes-btn">Likes: {{ comment.likes.count }}</span>
                {% endif %}
                <!-- If the comment user is the current user, OR the current user is a superuser, allow them to edit and delete the comment-->
                {% if comment.user == user or user.is_superuser %}
                <a href="{% url 'edit_board_comment' comment.id %}" class="comment-action-btn">Edit</a>
                <a href="{% url 'delete_board_comment' comment.id %}" class="comment-action-btn">Delete</a>
                {% endif %}
                <button class="comment-action-btn btn-reply" data-commentid="{{ comment.id }}">Reply</button>
    
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    <hr>

    <!-- Label Row -->
    <div class="row col-12" id="labelRow">
        <button type="button" class="btn btn-primary my-1 col-md-1.5" id="show-all-items" data-board-id="{{board.id}}">All Notes</button>

        {% for label in labels %}
            <button type="button" class="btn btn-primary my-1 ml-1" id="sort-label-{{ forloop.counter }}" data-label="{{ label.label_name }}">{{label.label_name}}</button>
        {% endfor %}

    </div>

    <hr>

    <!-- Board Items -->
    <div class='row'>
        <div id='boardItems' class='col-12 row px-0 mx-0'>
            {% if items %}
                {% for item in items %}
                <div id="board-item-container-{{ forloop.counter }}" class="col-md-4 px-3 py-3 text-center">
                    <button id="board-item-{{ forloop.counter }}" class="btn btn-outline-primary btn-size">
                        <div class="card card-custom"> 
                            <div class="card-body">

                                <!-- Move the row with images to the bottom of the card -->
                                <div class="row justify-content-end mt-auto">
                                    {% if item.item_image %}
                                        <img class="col-3 img-icon px-1 {% if not item.item_sound %}mr-3{% endif %}" src="{% static "images/imageiconwhite.png" %}" alt="img icon"></img>
                                    {% endif %}
                
                                    {% if item.item_sound %}
                                        <!-- HTML for the custom icon -->
                                        <img src="{% static "images/audioiconwhite.png" %}" class="audio-icon mr-3 px-1" alt="audio icon">
                                    {% endif %}

                                </div>

                                <!-- h2 start -->
                                <!-- contains item model id, image/sound src if model contains one. -->
                                <h2 id="board-item-{{ forloop.counter }}-title" 
                                    data-id="{{ item.id }}" 
                                    {% if item.item_image %}
                                        data-img-src="{{ item.item_image.url }}" 
                                    {% endif %}
                                    
                                    {% if item.item_sound %}
                                        data-sound-src="{{ item.item_sound.url }}"
                                    {% endif %}

                                    {% if item.note_label %}
                                        data-label="{{ item.note_label }}"
                                    {% endif %}
                
                                    class='card-title pb-2'> 
                                    {{ item.title }}
                                </h2>
                                <!--h2 End-->
                
                                <p id="board-item-{{ forloop.counter }}-description" class='card-description pb-2'>{{ item.description }}</p>
                                
                            </div>
                        </div>
                    </button>
                </div>                            
                {% endfor %}
            {% else %}
                <!-- No items found -->
                <div class='card mx-auto' id='no-items-found'>
                    <div class='card-body'>
                        <h1 class='card-text text-center'>This board has no notes yet.</h1>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}

{% block scripts %}
    <script src="{% static 'IdeaBoards/publicboarddetails.js' %}"></script>
{% endblock %}