{% extends 'base.html' %}

{% load static %}

{% block title %}MediaBook - Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <h1 class="text-center fs-1">Create Your Next Masterpiece</h1>

    <div class="mx-auto mb-5 pt-4 text-center">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-md-center">What is MediaBook?</h1>

                    <h3 class="text-md-center py-2">MediaBook is a platform to store your ideas for multimedia projects</h3>
                    
                    <hr>

                    <h1 class="text-md-center">Staying Organized</h1>
                    <h3 class="text-md-center py-2">Keep track of your ideas in once place</h3>

                    <hr>

                    <h1 class="text-md-center">Collaboration</h1>
                    <h3 class="text-md-center py-2">Connect with others on the forums</h3>

                    <hr>

                    <h1 class="text-md-center">Get Inspired and Get Started</h1>
                    <div class="row justify-content-center">
                        
                        <div class="px-2 pt-5 col-auto login-container">
                            <a href="login/" role='button' class="btn btn-outline-primary" style="width: 100%;">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class='card-title'>Login</h2>
                                    </div>
                                </div>
                            </a>
                        </div>  
                
                        <div class="px-3 pt-5 col-auto register-container">
                            <a href="register/" role='button' class="btn btn-outline-primary" style="width: 100%;">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class='card-title'>Register</h2>
                                    </div>
                                </div>
                            </a>
                        </div>  
                    </div>    
                </div>
            </div>
    </div>  

    
    
{% endblock %}
